<?xml version='1.0'?>
<robot name="mantis" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mantis_description)/urdf/xacro/mantis_body.xacro" />
    <xacro:include filename="$(find mantis_description)/urdf/xacro/mantis_wheel.xacro" />
    <xacro:include filename="$(find mantis_description)/urdf/xacro/mantis_lid.xacro" />
    <xacro:include filename="$(find mantis_description)/urdf/laser/hokuyo.xacro" />

    <xacro:mantis_body prefix="base_link" />
	
    <xacro:mantis_wheel 
    	prefix="front" suffix="left"  
    	xyz=" 0.09  0.137 0" rpy="0 0 0" 
    	radius="0.055" 
    	parent="base_link"
    	/>
    <xacro:mantis_wheel 
    	prefix="front" suffix="right" 
    	xyz=" 0.09 -0.137 0" rpy="0 0 0" 
    	radius="0.055" 
		  parent="base_link"
    	/>
    <xacro:mantis_wheel 
    	prefix="rear" suffix="left"   
    	xyz="-0.09  0.137 0" rpy="0 0 0" 
    	radius="0.055" 
		  parent="base_link"
    	/>
    <xacro:mantis_wheel 
    	prefix="rear" suffix="right"  
    	xyz="-0.09 -0.137 0" rpy="0 0 0" 
    	radius="0.055" 
		  parent="base_link"
    	/>

    <xacro:mantis_lid
    	prefix="upper"
    	xyz="0 0 0.0725"
    	parent="base_link"
    	/>


    <xacro:laser
      name="base_scan"
      parent="upper_lid"
      xyz="0.0 0.0 0.02" rpy="0 0 0"
      meshes="package://mantis_description/meshes/laser/"
      /> 

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>



</robot>
