<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_name" default="mantis" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam 
    file="$(find mantis_control)/config/diffdrive.yaml" 
    command="load"
    /> 

  <rosparam 
    file="$(find mantis_control)/config/joints.yaml" 
    command="load"
    />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
    args="joints diffdrive">
    <remap from="/diffdrive/cmd_vel" to="/cmd_vel" />
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mantis_description)/urdf/mantis.xacro'"/>
  </node>

</launch>

