<launch>
  
  <arg name="robot_name" default="$(env ROBOT_NAME)" />
  <arg name="use_raspicam" default="false" />
 
  <param name="robot_name" type="str" value="$(arg robot_name)" />

  <group ns="$(arg robot_name)">
    <!-- arduino !-->
    <include file="$(find mantis_arduino)/launch/include/arduino.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="respawn" value="true" />
    </include>

    <!-- rp lidar !-->
    <include file="$(find mantis_rplidar)/launch/include/rplidar.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <group if="$(arg use_raspicam)">
      <include file="$(find mantis_bringup)/launch/include/sensors/raspicam.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)" />
      </include>
    </group>

    <!-- Multimaster Nodes -->
    <include file="$(find mantis_bringup)/launch/multimaster.launch" />


  </group>
</launch>
