<launch>

    <arg name="robot_name" value="kezbot" />
    <param name="robot_name" type="str" value="kezbot" />


    <!-- Base None -->
    <include file="$(find kezbot_v2)/launch/bringup_base.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- Laser Node -->
    <include file="$(find kezbot_v2)/launch/bringup_laser.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- Raspicam Node -->
    <!-- <include file="$(find kezbot_v2)/launch/bringup_raspicam.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include> -->

    <!-- Multimaster Nodes -->
    <include file="$(find kezbot_v2)/launch/multimaster.launch" />

</launch>
