<launch>
  
  <arg name="robot_name" default="$(env ROBOT_NAME)" />
  <arg name="use_raspicam" default="false" />
 
  <param name="robot_name" type="str" value="$(arg robot_name)" />

  <group ns="$(arg robot_name)">

    <!-- teleop !-->
    <include file="$(find kezbot_v2)/launch/includes/teleop/xbox.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />    
      <arg name="joy_dev" value="/dev/input/js0" />
    </include>

    <!-- arduino !-->
    <include file="$(find kezbot_v2)/launch/includes/bringup/arduino.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />    
    </include>

    <!-- rp lidar !-->
    <include file="$(find kezbot_v2)/launch/includes/bringup/rplidar.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <group if="$(arg use_raspicam)">
      <include file="$(find kezbot_v2)/launch/includes/bringup/raspicam.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)" />
      </include>
    </group>

    <!-- Multimaster Nodes -->
    <include file="$(find kezbot_v2)/launch/multimaster.launch" />


  </group>
</launch>
