<launch>
  <arg name="robot_name" default="kezbot" />
  <param name="robot_name" value="$(arg robot_name)" />

  <group ns="$(arg robot_name)">
    <include file="$(find kezbot_v2)/launch/includes/navigation/gmapping.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include> 
  </group>

</launch>
