<launch>
  
  <arg name="robot_name" default="$(env ROBOT_NAME)" />
  <arg name="joy_dev" default="/dev/input/js1" />
  <param name="robot_name" type="str" value="$(arg robot_name)" />

  <group ns="$(arg robot_name)">
    <include file="$(find kezbot_v2)/launch/includes/teleop/xbox.launch.xml">
      <arg name="joy_dev"   value="$(arg joy_dev)" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

</launch>
