<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">	

	<xacro:macro name="mantis_lid" params="prefix xyz parent">

		<joint name="${prefix}_lid_joint" type="fixed">
			<axis xyz="0 0.0 0" />
			<origin xyz="${xyz}" rpy="0 0 0" />
			<parent link="${parent}" />
			<child 	link="${prefix}_lid"/>
		</joint>

		<link name='${prefix}_lid'>
			<inertial>
				<mass value="0.0001"/>
				<origin xyz="0.0 0 0.1" rpy="0 0 0"/>
				<inertia
					ixx="0.1" ixy="0" ixz="0"
					iyy="0.1" iyz="0"
					izz="0.1"
					/>
			</inertial>
			<collision name="collision">
				<geometry>
					<box size="0.25 0.3 0.006" />
				</geometry>
			</collision>
			<visual name="${prefix}_lid_visual">
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.25 0.3 0.006" />
				</geometry>
			</visual>
		</link>

	</xacro:macro>

</robot>